body{
    align-items: center;
    background-color: rgb(91, 201, 216);
}

h1{
    font-family: 'Mochiy Pop P One';
    padding-left: 114px;
    text-align: center;
    align-items: center;
}

.container{
    display: block;
    margin: auto;
    max-width: 955px;
    border: 2px solid black;
    height: 60vh;
    overflow-y: auto;
}

.message{
    width: 24%;
    background-color: grey;
    border-radius: 5px;
    padding: 10px;
    border: 2px solid black;
    margin: 17px 12px;
}

.left{
    float: left;
    padding: 2px;
    clear: both;
}

.right{
    float: right;
    clear: both;
}

.send{
    text-align: center;
}

#send-cont{
    display: block;
    margin: auto;
    text-align: center;
    max-width: 985px;
    width: 100%;
}

#messageinp{
    width: 92%;
    border: 2px solid black;
    height: 34px;
    border-radius: 5px;
}


.btn{
    height: 32px;
    border: 2px solid black;
    cursor: pointer;
    background-color: rgb(233, 127, 132);
    border-radius: 6px;
}

.btn:hover{
    background-color: rgba(83, 116, 102, 0.322);
}

footer{
    text-align: center;
    font-family: 'Mochiy Pop P One';
}